<footer class="text-bg-dark">
  <div class="container py-5">
    <div class="row gy-3">
      <div class="col-md-4">
        <h5>tucantón</h5>
        <a class="nav-link" href="/app/views/inicio.html">Inicio</a>
        <a class="nav-link" href="">Nosotros</a>
        <a class="nav-link" href="">Contacto</a>
      </div>
      <div class="col-md-4">
        <h5>Nuestros servicios</h5>
        <a class="nav-link" href="/app/views/venta.html">Propiedades en venta</a>
        <a class="nav-link" href="/app/views/renta.html">Propiedades en renta</a>
      </div>
      <div class="col-md-4">
        <small>Copyright © tucantón 2022</small>
      </div>
    </div>
  </div>
</footer>