<nav class="navbar navbar-expand-md bg-white shadow-sm sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto mx-md-0" href="#">
            <img src="/assets/img/logo_horizontal.png" alt="logo" height="40" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-md-auto text-center">
                <li class="nav-item me-2">
                    <a class="nav-link text-primary" href="#">Venta</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link text-primary" href="#">Renta</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link text-primary" href="#">Nostros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="#">Contacto</a>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary me-md-2" type="button">Anúnciate</button>
                <button class="btn btn-primary" type="button">Ingresar</button>
            </div>
        </div>
    </div>
</nav>
