<!DOCTYPE html>
<html lang="es" ng-app="tucanton">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tucantón</title>
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <script src="/assets/js/angular.min.js"></script>
    <script src="/app/app.js"></script>
</head>

<body class="min-vh-100 d-flex flex-column justify-content-between">
    <div>
        <div id="loader"></div>
        <ng-include src="'/app/views/layout/navbar.html'"></ng-include>
        <div class="container my-4">
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/utils.js"></script>
    <script src="/app/controllers/inicioController.js"></script>
    <ng-include src="'/app/views/layout/footer.html'"></ng-include>
</body>

</html>