<!DOCTYPE html>
<html lang="es" ng-app="tucanton">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tucantón</title>
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <script src="/assets/js/angular.min.js"></script>
    <script src="/app/app.js"></script>
</head>

<body style="background-image: url(/assets/img/background.jpg);background-position: center; background-repeat: no-repeat; background-size: cover;" ng-controller="inicioSesionController" class="min-vh-100 d-flex flex-column justify-content-between">
    <div></div>
    <div>
        <div id="loader"></div>
        <div class="container pb-3">
            <div class="row">
                <div class="col-auto mx-auto">
                    <div class="card shadow-sm">
                        <div class="card-body p-5">
                            <form name="loginForm" ng-submit="login()" novalidate>
                                <div class="vstack gap-4 mb-2 text-center">
                                    <a href="/app/views/inicio.html"><img src="/assets/img/logo_horizontal_hd.png" style="height: 65px;" alt=""></a>
                                    <h4>Inicio de sesión</h4>
                                    <div class="text-start">
                                        <div class="input-group is-valid">
                                            <span class="input-group-icon">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <input name="email" ng-model="login.email" type="text" class="form-control" placeholder="Correo electrónico" required>
                                        </div>
                                        <small ng-show="loginForm.email.$invalid && loginForm.email.$touched" class="text-danger">Campo obligatorio</small>
                                    </div>
                                    <div class="text-start">
                                        <div class="input-group">
                                            <span class="input-group-icon">
                                                <i class="fas fa-key"></i>
                                            </span>
                                            <input name="password" ng-model="login.password" type="{{showPassword ? 'text' : 'password'}}" class="form-control" placeholder="Contraseña" required>
                                            <span class="input-group-icon text-dark">
                                                <i style="width: 20px;" class="fas" role="button" ng-click="switchPassword()" ng-class="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                            </span>
                                        </div>
                                        <small ng-show="loginForm.password.$invalid && loginForm.password.$touched" class="text-danger">Campo obligatorio</small>
                                    </div>
                                    <div><button ng-disabled="loginForm.$invalid" class="btn btn-primary d-inline" type="submit"><i class="fas fa-right-to-bracket"></i>&nbsp;Iniciar sesión</button></div>
                                    <a href="/app/views/registro.html" class="link-dark">¿No tienes cuenta?, regístrate</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/utils.js"></script>
    <script src="/app/controllers/inicioSesionController.js"></script>
    <ng-include src="'/app/views/layout/footer.html'"></ng-include>
</body>

</html>