<!DOCTYPE html>
<html lang="es" ng-app="tucanton">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tucantón</title>
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <script src="/assets/js/angular.min.js"></script>
    <script src="/app/app.js"></script>
</head>

<body ng-controller="inicioController" class="min-vh-100 d-flex flex-column justify-content-between">
    <div>
        <div id="loader"></div>
        <ng-include src="'/app/views/layout/navbar.html'"></ng-include>
        <div class="position-relative" style="background-image: url(/assets/img/landing.jpg); height: 400px; background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="card border-0 position-absolute top-50 start-50 translate-middle col-12 col-md-auto" style="background-color: rgba(0, 0, 0, .5);">
                <div class="card-body py-5 px-4">
                    <h1 class="text-white text-md-nowrap mb-4">Encuentra el espacio de tus sueños</h1>
                    <div class="input-group mb-3 mx-auto" style="max-width: 350px;">
                        <input type="text" class="form-control" placeholder="Ciudad">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-4 flex-grow">
            <div class="row">
                <div class="col-12 vstack gap-5">
                    <section>
                        <h4 class="mb-3"><i class="fas fa-star"></i>&nbsp;Ventas destacadas</h4>
                        <div class="row g-3">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3" ng-repeat="property in sales">
                                <div class="card card-product shadow-sm h-100" role="button" ng-click="showProperty(property)">
                                    <img ng-src="/assets/img/houses/{{property.image}}" class="card-img-top" alt="...">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <div class="vstack gap-1 mb-2">
                                            <h4>{{property.price | currency}}</h4>
                                            <h5>{{property.title}}</h5>
                                            <span class="d-block"><i class="fas fa-location-dot"></i>&nbsp;{{property.location}}</span>
                                            <span class="d-block"><i class="fas fa-calendar-days"></i>&nbsp;{{property.publishedDate | date:'dd/MM/yyyy'}}</span>
                                        </div>
                                        <div class="row gx-2">
                                            <div ng-if="property.rooms" class="col-auto"><small><i class="fas fa-bed"></i>&nbsp;{{property.rooms}}</small></div>
                                            <div ng-if="property.area" class="col-auto"><small><i class="fas fa-ruler-combined"></i>&nbsp;{{property.area}} m²</small></div>
                                            <div ng-if="property.floors" class="col-auto"><small><i class="fas fa-stairs"></i>&nbsp;{{property.floors}}</small></div>
                                            <div ng-if="property.fullBaths" class="col-auto"><small><i class="fas fa-bath"></i>&nbsp;{{property.fullBaths}}</small></div>
                                            <div ng-if="property.halfBaths" class="col-auto"><small><i class="fas fa-toilet"></i>&nbsp;{{property.halfBaths}}</small></div>
                                            <div ng-if="property.parkings" class="col-auto"><small><i class="fas fa-car"></i>&nbsp;{{property.parkings}}</small></div>
                                            <div ng-if="property.pools" class="col-auto"><small><i class="fas fa-water-ladder"></i>&nbsp;{{property.pools}}</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h4 class="mb-3"><i class="fas fa-star"></i>&nbsp;Rentas destacadas</h4>
                        <div class="row g-3">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3" ng-repeat="property in rents">
                                <div class="card card-product shadow-sm h-100" role="button" ng-click="showProperty(property)">
                                    <img ng-src="/assets/img/houses/{{property.image}}" class="card-img-top" alt="...">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <div class="vstack gap-1 mb-2">
                                            <h4>{{property.price | currency}}</h4>
                                            <h5>{{property.title}}</h5>
                                            <span class="d-block"><i class="fas fa-location-dot"></i>&nbsp;{{property.location}}</span>
                                            <span class="d-block"><i class="fas fa-calendar-days"></i>&nbsp;{{property.publishedDate | date:'dd/MM/yyyy'}}</span>
                                        </div>
                                        <div class="row gx-2">
                                            <div ng-if="property.rooms" class="col-auto"><small><i class="fas fa-bed"></i>&nbsp;{{property.rooms}}</small></div>
                                            <div ng-if="property.area" class="col-auto"><small><i class="fas fa-ruler-combined"></i>&nbsp;{{property.area}} m²</small></div>
                                            <div ng-if="property.floors" class="col-auto"><small><i class="fas fa-stairs"></i>&nbsp;{{property.floors}}</small></div>
                                            <div ng-if="property.fullBaths" class="col-auto"><small><i class="fas fa-bath"></i>&nbsp;{{property.fullBaths}}</small></div>
                                            <div ng-if="property.halfBaths" class="col-auto"><small><i class="fas fa-toilet"></i>&nbsp;{{property.halfBaths}}</small></div>
                                            <div ng-if="property.parkings" class="col-auto"><small><i class="fas fa-car"></i>&nbsp;{{property.parkings}}</small></div>
                                            <div ng-if="property.pools" class="col-auto"><small><i class="fas fa-water-ladder"></i>&nbsp;{{property.pools}}</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h4 class="mb-3"><i class="fas fa-star"></i>&nbsp;Proyecto destacado</h4>
                        <div class="card shadow-sm">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <img src="/assets/img/houses/{{project.image}}" class="img-fluid h-100" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="vstack gap-2 mb-2">
                                            <h1>{{project.title}}</h1>
                                            <span class="fs-5">{{project.description}}</span>
                                            <h3>{{project.price | currency}}</h3>
                                            <span><i class="fas fa-location-dot"></i>&nbsp;<b>Ubicación: </b>{{project.location}}</span>
                                            <span><i class="fas fa-calendar-days"></i>&nbsp;<b>Fecha de publicación: </b>{{project.publishedDate | date:'dd/MM/yyyy'}}</span>
                                            <span><i class="fas fa-bed"></i>&nbsp;<b>Habitaciones: </b>{{project.rooms}}</span>
                                            <span><i class="fas fa-ruler-combined"></i>&nbsp;<b>Área: </b>{{project.area}} m²</span>
                                        </div>
                                        <button ng-click="showProperty(project)" class="btn btn-primary d-inline" type="button"><i class="fas fa-eye"></i>&nbsp;Ver más detalles</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h4 class="mb-3"><i class="fas fa-search"></i>&nbsp;Encuentra una propiedad cerca de ti</h4>
                        <iframe class="rounded w-100" height="450" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtjaWdNex6PeIhqPYVOTjEsJi3GluBpgQ&q=Cuernavaca">
                        </iframe>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/utils.js"></script>
    <script src="/app/controllers/inicioController.js"></script>
    <ng-include src="'/app/views/layout/footer.html'"></ng-include>
</body>

</html>